html{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: url('http://www.hd-freewallpapers.com/latest-wallpapers/desktop-cute-cat-hd-wallpapers-download.jpg')
}

div{
    display: inline-block;
}

img{
    margin-top: 20px;
    border-radius: 20px;
    border:3px solid #021a40;

}
.pic2{
width: 646px;
height: 428px;
margin-left: 10px;
}

h1,h2, .clicks{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(245, 248, 35)
}